

{% include "navbar.html" %}



  <br><br><br>


  <div class="container">
    <h1 align='center'>ADD ITEM</h1>
    <form class="form-group" action="#" method='post'>

      <label for="category" class="mb-2 mr-sm-2">Name:</label>
      <input type="text" class="form-control mb-2 mr-sm-2" id="category" placeholder="Enter Item Name" name="name" required>

        <label for="comment" class="mb-2 mr-sm-2">Description:</label>
        <textarea class="form-control" rows="5" id="comment" name="description" placeholder="Enter Item Description" required></textarea>
        <h6>category:</h6>

        <!--MESSAGE FLASHING -->



        <select class="form__select" name="category">
    						{% for category in categories %}
    							<option value="{{category.id}}">{{category.name}}</option>
    						{% endfor %}
    					</select>
      <div class="form-check mb-2 mr-sm-2">

      </div>
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
  </div>








</body>

</html>
