
  {% include "navbar.html" %}



  <div class="container" style="padding-top: 100px">
    <div class="jumbotron">


    <ul class="list__items">
      <h3>Category List</h3>
  


					{% for category in categories %}

						<a href="{{url_for('showCategory',category_id = category.id )}}">
							<li class="items__item">
                 <!-- <span class="item__name">{{category.id}}</span> -->
                {{category.name}}


							</li>
						</a>

					{% endfor %}




			</div>
		</div>



</body>

</html>
