
 {% include "navbar.html" %}


 <div class="container" style="padding-top: 100px">
   <a href="{{url_for('addCategoryItem')}}">ADD ITEM</a>
  <div class="jumbotron">


    <ul class="list__items">
      <h3>{{ category.name}}</h3>
					{% for categoryItem in categoryItems %}

						<a href="{{url_for('showCategoryItem', category_id = categoryItem.category_id,item_id = categoryItem.id)}}">
							<li class="items__item">
                <!-- <span class="item__name">{{categoryItem.id}}</span> -->
                <span class="item__name">{{categoryItem.name}}</span>



							</li>
						</a>
					{% endfor %}
        </ul>

			</div>
		</div>




</body>

</html>
