<!-- <!DOCTYPE html>
<html>
<title>Catalog</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel=stylesheet type=text/css href="{{url_for('static', filename='styles.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<body> -->

  {% include "navbar.html" %}

  <div style="padding-top: 100px">
<div class="container">

    	<div class="row">
    		<div class="category-item column">
    			<h5 class="category-item__header">
    				{{showItems.name}}
    				<span class="header__bar"></span>
    			</h5>
    			<div class="category-item__description">
    				{{showItems.description}}
    			</div>
    			 <div class="category-item__controls">

    					 <a href="{{url_for('editCategory', category_id = showItems.category_id, item_id = showItems.id)}}" class="controls__edit">Edit</a></br>
               <a href="{{url_for('deleteItem', category_id = showItems.category_id, item_id = showItems.id)}}" class="controls__delete">Delete</a>

          </div>
    		</div>
    	</div>
    </div>
  </div>





</body>
</html>
